h1{
    color: rgb(161, 107, 236);
    border: 5px solid rgb(161, 107, 236);
}

h2{
    color: rgb(161, 107, 236);
    border: 5px solid rgb(161, 107, 236);
}

h3{
    color: rgb(161, 107, 236);
    border: 5px solid rgb(161, 107, 236);
}

/* .ancestor{
    background-color: green;
} */

/* .ancestor .child{
    background-color: purple;
} */

.pho-picture{
    height: auto;
    width: 760px;
    border: 5px dotted rgb(161, 107, 236);
    
}

.burger-picture{
    height: auto;
    width: 760px;
    border: 5px dotted rgb(161, 107, 236);
}

.cookie-picture{
    height: auto;
    width: 760px;
    border: 5px dotted rgb(161, 107, 236);
}